@font-face {
    font-family: 'Rubik-Bold';
    src: url('../Fonts/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../Fonts/Rubik-Medium.ttf');
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../Fonts/Rubik-Regular.ttf');
}
